/*
@media only screen and (max-width: 1000px) {
    .hero {
        height: 100%;
        background: url("img/hero-md.png") no-repeat;
        background-position: center 0;
    }
    .main-banner-container {
        width: 100vw;
        margin-top: 830px;
        flex-direction: column;
        align-items: center;
    }
    .bio-headshot {
        height: 375px;
        width: 250px;
    }
}

@media only screen and (max-height: 1050px) {

    footer {
        position: relative;
    }
    footer ul {
        position: relative;
    }
}

@media only screen and (max-width: 500px) {
    .hero{
        background: url("img/hero-sm.png") no-repeat;
        background-position: center 0;
    }
}
*/

@media only screen and (min-width: 1450px) {
    #hero-image {
/*        margin-top: 5vh;
        left: 14%;*/
    }
    #logo {
        left: 12%;
    }
/*    .main-banner-container {
        margin-top: 25%;
    }*/
    .demo-content {
        max-width: 1000px;
    }

    .bio {
        max-width: 1000px;
        max-height: 800px;
    }

    .carousel {
        max-width: 1000px;
    }
}


@media only screen and (min-width: 1050px) {
    
    .main-banner {
        min-width: 600px;
    }
    #hero-image {

    }
}

@media only screen and (min-width: 800px) {
    .main-banner {
        min-width: 490px;
    }
}

@media only screen and (max-width: 1200px) {
    .main-banner-container {

    }
}

@media only screen and (max-width: 975px) {

    nav ul li {
        font-size: 13px;
    }
    .nav-first {
        font-size: 17px;
    }

}

@media only screen and (orientation: portrait) , screen and (max-width: 950px) {

    .hero {
        width: 100vw;
    }
    #hero-image {
/*        top: auto;
        left: auto;*/
        max-width: 84%;
        min-width: 40%;
        margin-top: -10vh;
        margin-left: -6vw;
        
    }
    .main-banner-container {
        width: 100vw;
        justify-content: center;
        margin-top: 70vh;
    }
    #main-title {
        display: none;
    }
    #mobile-title {
        display: block;
        width: 80vw;
    }
    nav, section, footer {
        display: none !important; 
    }

}